.header {
    position: sticky;
    top: 0;
    padding: 2rem;
    height: 6.8rem;
    text-align: center;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    &__heading {
        font-size: 3.2rem;
        font-weight: 300;
        a {
            color: rgb(53, 53, 53);
            text-decoration: none;
            img {
                margin-bottom: -.75rem;
            }
        }
    }
}