@media(min-width: 992px) {
    .nav {
        &__item {
            font-size: 2.5rem;
            width: 9.5vw;
        }
        &__link {
            // padding: 1.75rem 1.25rem;
            height: 100%;
            width: 100%;
            color: black;
        }
    }
    .main {
        .hero {
            height: 75vh;
            background-image: url('../img/jungle_big.jpg');
        }
        .aboutus {
            width: 75%;
            margin-left: 10%;
            &__img {
                width: 45%;
            }
            &__heading {
                font-size: 3.2rem;
            }
            &__paragraph {
                line-height: 2.75rem;
                font-size: 2rem;
            }
        }
        .adventure {
            background-image: url('../img/child_big.jpg');
        }
    }
}

@media(min-width: 1080px) {
    .nav {
        &__item {
            width: 8.5vw;
        }
    }
}

@media (min-width: 1500px) {
    .nav {
        &__item {
            width: 6.5vw;
        }
    }
    .main {
        .hero {
            &__text {
                h1 {
                    font-size: 3.5rem;
                }
                h2 {
                    font-size: 4rem;
                }
            }
        }
        .aboutus {
            &__heading {
                font-size: 3.6rem;
            }
            &__paragraph {
                line-height: 4.2rem;
                font-size: 2.2rem;
            }
        }
    }
}

@media (min-width: 1800px) {
    .nav {
        &__item {
            width: 5.5vw;
        }
    }
}